@model Sayonara.Models.Extract

@{
	ViewData["Title"] = "Extract Detail";
	Layout = null;
}

<div class="container">
	<div class="row">
		<div class="col-sm-2 ">
			<strong>Creator:</strong>
			<br />
			Kyle Smith
		</div>
		<div class="col-sm-2">
			<strong>Extraction Date:</strong>
			<br />
			@Model.ExtractionDate.ToString("MM/dd/yyyy")
		</div>
		<div class="col-sm-2">
			<strong>Password:</strong>
			<br />
			@Model.Password
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-sm-2 ">
			<strong>Completion Date:</strong>
			<br />
			@if (Model.CompletionDate.HasValue)
			{
				@Model.CompletionDate.Value.ToString("MM/dd/yyyy")
			}
			&nbsp;
		</div>
		<div class="col-sm-2">
			<strong>Shipped Date:</strong>
			<br />
			@if (Model.ShippedDate.HasValue)
			{
				@Model.ShippedDate.Value.ToString("MM/dd/yyyy")
			}
			&nbsp;
		</div>
		<div class="col-sm-2">
			<strong>Received Date:</strong>
			<br />
			@if (Model.ReceivedDate.HasValue)
			{
				@Model.ReceivedDate.Value.ToString("MM/dd/yyyy")
			}
			&nbsp;
		</div>
	</div>
</div>

