@model IEnumerable<Sayonara.Models.Extract>

@{
	ViewData["Title"] = "Index";
}

<h2>Extracts</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				Facility
			</th>
			<th>
				Type
			</th>
			<th>
				Extract Date
			</th>			
			<th>
				Status
			</th>		
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="hoverhighlight">
				<td>
					@Html.DisplayFor(modelItem => item.Facility.Name)
				</td>				
				@if (item.Format == ExtractType.CSV)
				{
					<td>
						<img class="img-thumbnail" src="~/images/csv-outline.png" />
					</td>
				}
				else
				{
					<td>
						<a title="@item.DocumentationView.Name">
							<img class="img-thumbnail" src="~/images/pdf-512.png" />
						</a>
					</td>
				}
				<td>
					@item.ExtractionDate.ToString("MMM dd yyyy")
				</td>
				<td>
					<progress value="@item.CurrentCount" max="@item.TotalCount"></progress>
					<br />
					@Html.DisplayFor(modelItem => item.Status)
				</td>				
			</tr>
		}
	</tbody>
</table>


