@model IEnumerable<Sayonara.Models.Extract>

@{
	ViewData["Title"] = "Index";
}

<h2>Extracts</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				Facility
			</th>
			<th>
				Type
			</th>
			<th>
				Extract Date
			</th>
			<th>
				Status
			</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="hoverhighlight @(item.Status == "Completed" ? "completed" : "waiting")" data-id="@item.ID">
				<td>
					@item.Facility.Alias (FacID: @item.FacilityID)					
				</td>				
				@if (item.Format == ExtractType.CSV)
				{
					<td>
						<img class="img-thumbnail" src="~/images/csv-outline.png" />
					</td>
				}
				else
				{
					<td>
						<a title="@item.DocumentationView.Name">
							<img class="img-thumbnail" src="~/images/pdf-512.png" />
						</a>
					</td>
				}
				<td>
					@item.ExtractionDate.ToString("MMM dd yyyy")
				</td>
				<td>
					@{decimal percentDone;
						int percentDoneWhole;
						if (item.TotalCount > 0)
						{
							percentDone = Decimal.Divide(item.CurrentCount, item.TotalCount);							
						}
						else
						{
							percentDone = 0;
						}
						percentDoneWhole = (int)(percentDone * 100);
					}
					<progress value="@item.CurrentCount" max="@item.TotalCount"></progress>&nbsp; @percentDoneWhole %
					<br />
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>					
						<span class="glyphicon glyphicon-ban-circle" aria-hidden="true" data-publicID="@item.PublicID"></span>					
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="modal fade" id="mdlDetail" tabindex="-1" role="dialog" aria-labelledby="mdlDetailLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="mdlDetailLabel">Extract Detail</h4>
			</div>
			<div class="modal-body"></div>		
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>				
			</div>
		</div>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">
		$(function () {
			$('span.glyphicon-ban-circle').click(function (e) {
				e.stopPropagation();
				var $spn = $(this);
				var publicID = $spn.attr('data-publicID');

				var result = confirm("Are you sure you want to remove this extract?");
				if (result)
					$.post('/api/Extract/Delete', { PublicID: publicID }, function () {						
						$spn.parent().parent().remove();
					});
			});

			$('tr.completed').click(function () {
				var extractID = $(this).attr('data-id');

				$('#mdlDetail h4.modal-title').html($(this).find("td:first").html());

				$.get("/Extract/Detail/" + extractID, function (data) {
					$("#mdlDetail div.modal-body").html(data);
					$("#mdlDetail").modal('show');					
				});
			});
		});

	</script>
}

