@model IEnumerable<Sayonara.Models.Extract>

@{
	ViewData["Title"] = "Index";
}

<h2>Extracts</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				Facility
			</th>
			<th>
				Type
			</th>
			<th>
				Extract Date
			</th>
			<th>
				Status
			</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="hoverhighlight">
				<td>
					@Html.DisplayFor(modelItem => item.Facility.Name)
				</td>				
				@if (item.Format == ExtractType.CSV)
				{
					<td>
						<img class="img-thumbnail" src="~/images/csv-outline.png" />
					</td>
				}
				else
				{
					<td>
						<a title="@item.DocumentationView.Name">
							<img class="img-thumbnail" src="~/images/pdf-512.png" />
						</a>
					</td>
				}
				<td>
					@item.ExtractionDate.ToString("MMM dd yyyy")
				</td>
				<td>
					<progress value="@item.CurrentCount" max="@item.TotalCount"></progress>
					<br />
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@if (item.CompletionDate == null)
					{
						<span class="glyphicon glyphicon-ban-circle" aria-hidden="true" data-publicID="@item.PublicID"></span>
					}
					else
					{
						<span>&nbsp;</span>
					}
				</td>

			</tr>
		}
	</tbody>
</table>

@section scripts
{
	<script type="text/javascript">
		$(function () {
			$('span.glyphicon-ban-circle').click(function () {
				var $spn = $(this);
				var publicID = $spn.attr('data-publicID');

				var result = confirm("Are you sure you want to remove this extract?");
				if (result)
					$.post('/api/Extract/Delete', { PublicID: publicID }, function () {						
						$spn.parent().parent().remove();
					});
			});

		});

	</script>
}

